.popup__button {
  width: 100%;
  min-height: 50px;
  background: #000;
  border-radius: 2px;
  color: #fff;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.2;
  border: none;
  cursor: pointer;
  transition-duration: .4s;
  margin: 48px auto 0;
}

.popup__button:hover {
  opacity: .8;
}


@media screen and (max-width: 425px) {
  .popup__button {
    font-size: 14px;
    margin: 45px auto 0;
    min-height: 46px;
  }
}
